.row(ng-controller="clInquiriesIndexCtrl")
  .col-md-12
    h2 Inquiries
    form.navbar-form
      .input-group.col-md-2.col-md-offset-10
        input(type="text", ng-model="searchInquiries" class="form-control", placeholder="Filter", name="search-term", id="q")
        .input-group-btn
          button.btn.btn-default(type="submit")
            i.glyphicon.glyphicon-search
    table.table.table-bordered.table-striped.pull-left
      thead
        tr  
          th Name
          th Email
          th Message
          th Date Sent
          th Delete
        tr(ng-repeat="inquiry in inquiries  | filter:searchInquiries")
          td {{inquiry.sender_name}}
          td {{inquiry.sender_email}}
          td {{inquiry.sender_message}}
          td {{inquiry.updated | date:'MM/dd/yyyy @ h:mma'}}
          td
            a(href="#", ng-click="deleteInquiry(inquiry._id)") Delete 