doctype
html(lang='en')
  head
    title Claudio Limon Admin
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/main.css")
  body.admin(ng-app="app")
    include currentUser
    div.navbar.navbar-fixed-top.navbar-inverse(ng-controller="mainCtrl", ng-show="identity.isAuthenticated()")
      nav.collapse.navbar-collapse.bs-navbar-collapse(role="navigation")  
        ul.nav.navbar-nav
          li
            a.brand(href="/admin") Claudio Limon Admin
          li(ng-show="identity.currentUser.isAdmin()")
            a(href="/admin/users") Users
          li
            a(href="/admin/works") Work
          li
            a(href="/admin/inquiries") Inquiries
          li
            a(href="/admin/settings") Settings
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown") {{ identity.currentUser.firstName + " " + identity.currentUser.lastName}}
              b.caret 
            ul.dropdown-menu
              li 
                a(href="/admin/signout", ng-click="signout()") Signout     
    section.content
      section.container
        block main-content
  include scripts
