.about-content
  p {{settings.description}}
  nav.social
    ul
      li.email
        a(href="mailto:{{settings.global_email}}", title="email") email me
      li.facebook
        a(href="{{settings.facebook_url}}", title="Facebook") f
      li.twitter
        a(href="{{settings.twitter_url}}", title="Twitter") t
      li.behance
        a(href="{{settings.behance_url}}", title="Behance") be
flex-slider(slide="s in aboutSlides" animation="slide")
  li
    img(ng-src="{{s}}")
script(type="text/javascript").
  // window.user = !{ user };