.contact-content

.flexslider
  ul.slides
    li
      a(href="#")
        img(src='/img/web-limon-01.jpg')
    li
      a(href="#")
        img(src='/img/web-limon-02.jpg')
    li
      a(href="#")
        img(src='/img/web-limon-03.jpg')
    li
      a(href="#")
        img(src='/img/web-limon-04.jpg')
    li
      a(href="#")
        img(src='/img/web-limon-05.jpg') 
script(type="text/javascript").
  // window.user = !{ user };
