div(backstretch background-url="/img/web-limon-01.jpg")
.info
  h1.logo CLAUDIO LIMON      
.home-links
  ul
    li.first
      a(href="/work/art") art
    li.second
      a(href="/work/design") design
    li.third
      a(href="/work/illustration") illustration  
script(type="text/javascript").
  // window.user = !{ user };
