.info
  h1.logo CLAUDIO LIMON
  span {{quote}}
.home-links
  ul
    li
      a(href="/work/art") art
    li
      a(href="/work/design") design
    li
      a(href="/work/illustration") illustration
flex-slider(slide="s in slides" animation="slide" after="parseSlideQuote()")
  li
    img(ng-src="{{s}}")
    span Here is a test quote $index
script(type="text/javascript").
  // window.user = !{ user };
