.info
  h1.logo CLAUDIO LIMON
  span "Art must be a form to connect the heart with the brain"
.home-links
  ul
    li
      a(href="#") art
    li
      a(href="#") design
    li
      a(href="#") illustration
flex-slider(slide="s in slides" animation="slide")
  li
    img(ng-src="{{s}}")
script(type="text/javascript").
  // window.user = !{ user };
