.detail-content
  .detail-content-box
    header(ng-click="toggleWorkInfo()")
      h3 Art
      h4 &#47; Casa de las artes
      i.info i
    .detail-content-text(ng-hide="hideWorkInfo")
      q lorem ipsum quote sit amen
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
flex-slider(slide="s in slides" animation="slide")
  li
    img(ng-src="{{s}}")
script(type="text/javascript").
  // window.user = !{ user };
