.detail-content
  .detail-content-box
    header
      h3 Art
      h4 &#47; Casa de las artes
      i.info i
    .detail-content-text
      q #{content}
      p #{content}
      p #{content}
flex-slider(slide="s in slides" animation="slide")
  li
    img(ng-src="{{s}}")
script(type="text/javascript").
  // window.user = !{ user };
