include layout
block content
  .work-content
    figure.work-block
      a(href="/detail")
        img(src='/img/work-img.jpg')
      figcaption
        .figcaption-wrap
          h4 Caption for work
    figure.work-block
      a(href="/detail")
        img(src='/img/work-img.jpg')
      figcaption
        .figcaption-wrap
          h4 Caption for work
    figure.work-block
      a(href="/detail")
        img(src='/img/work-img.jpg') 
      figcaption
        .figcaption-wrap
          h4 Caption for work 
    figure.work-block
      a(href="/detail")
        img(src='/img/work-img.jpg')  
      figcaption
        .figcaption-wrap
          h4 Caption for work
    figure.work-block
      a(href="/detail")
        img(src='/img/work-img.jpg')  
      figcaption
        .figcaption-wrap
          h4 Caption for work
    figure.work-block
      a(href="/detail")
        img(src='/img/work-img.jpg')  
      figcaption
        .figcaption-wrap
          h4 Caption for work
  script(type="text/javascript").
    // window.user = !{ user };
