.detail-content
  .detail-content-box
    header(ng-click="toggleWorkInfo()")
      h3 {{workDetail.title}}
      h4 {{workDetail.subtitle}}
      i.info i
    .detail-content-text(ng-hide="hideWorkInfo")
      p {{workDetail.description}}
flex-slider(slide="img in workDetail.images" animation="slide")
  li
    img(ng-src="{{img.url}}")
script(type="text/javascript").
  // window.user = !{ user };
