body.admin {
  padding-top: 50px;
}
.btn-danger {
  margin-left: 10px;
}
.form-group.images {
  float: left;
  width: 100%;
}
.form-group.images label {
  float: left;
  width: 100%;
}
.form-group.images ul {
  padding: 0;
  margin: 10px 0 0 0;
  list-type: none;
}
.form-group.images li.ng-scope {
  float: left;
  padding: 5px;
  background: #eee;
  list-style: none;
  position: relative;
  width: 110px;
  height: 110px;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-bottom: 10px;
}
.form-group.images li.ng-scope a {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #f00;
  display: block;
  bottom: 5px;
  right: 5px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.form-group.images li.ng-scope .img-order {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 28px;
  bottom: 5px;
  color: #555;
  text-align: center;
  background: #eee;
}
