html {
  -webkit-text-size-adjust: none;
}
body {
  font-family: 'Asap', sans-serif;
}
body.public.home {
  background: url("../img/web-limon-01.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.public.about {
  background: url("../img/limon-about.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.public {
  background: #eee;
  color: #fff;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
body.public a {
  color: #fff;
  text-decoration: none;
}
body.public .nav-wrapper {
  position: relative;
  height: 34px;
}
body.public .navigation {
  width: 100%;
  height: 35px;
  background: #000;
  float: left;
  padding: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
}
body.public .navigation h1 {
  margin: 6px 0 0 10px;
  float: left;
  padding: 0;
}
body.public .navigation h1 a {
  display: block;
  text-indent: -9999px;
  width: 155px;
  height: 20px;
  background: url("../img/web-limon.png") no-repeat;
}
body.public .navigation nav {
  float: right;
  margin-top: 4px;
  font-size: 14px;
  font-style: italic;
  line-height: 23px;
}
body.public .navigation nav ul {
  padding: 0;
  display: inline;
}
body.public .navigation nav ul li {
  display: inline-block;
  float: left;
  margin: 0 13px;
}
body.public .navigation nav ul li a:hover {
  color: #eee;
  text-decoration: underline;
}
body.public .navigation .social {
  margin-right: 10px;
  margin-top: 0;
}
body.public .navigation .social ul li {
  margin: 0 4px;
}
body.public .navigation .social ul li a {
  color: #000;
  background: #fff;
  color: #000;
  border-radius: 21px;
  width: 22px;
  display: block;
  height: 21px;
  line-height: 22px;
  margin-left: 0px;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  margin-top: 6px;
}
body.public .navigation .social ul li a:hover {
  opacity: 0.7;
  color: #000;
  text-decoration: none;
}
body.public .navigation .social .behance {
  text-transform: capitalize;
}
body.public .contact-container .ng-invalid button {
  opacity: 0.5;
}
body.public .contact-container {
  position: absolute;
  right: 0;
  top: 33px;
  width: 290px;
  z-index: 1000;
  background: #fff;
  padding-left: 20px;
  opacity: 1;
}
body.public .contact-container p {
  color: #9c9f9e;
}
body.public .contact-container .social {
  margin: 0;
  display: inline-block;
  float: right;
  position: relative;
  bottom: 30px;
  right: 20px;
}
body.public .contact-container .social ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body.public .contact-container .social ul li {
  display: inline-block;
}
body.public .contact-container .social ul li a {
  padding: 4px;
  background: #000;
  font-size: 18px;
  color: #fff;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  display: block;
  margin-left: 8px;
  text-align: center;
  line-height: 26px;
}
body.public .contact-container input {
  width: 250px;
  margin-bottom: 18px;
  background: #e2e4e3;
  border: none;
  padding: 8px;
}
body.public .contact-container button {
  height: 28px;
  width: 59px;
  font-size: 14px;
}
body.public .contact-container textarea {
  width: 250px;
  margin-bottom: 18px;
  background: #e2e4e3;
  border: none;
  padding: 8px;
  height: 135px;
  resize: none;
}
body.public .contact-container.ng-hide-add,
body.public .contact-container.ng-hide-remove {
  transition: 0.5s linear all;
  -webkit-transition: 0.5s linear all;
  display: block !important;
}
body.public .contact-container.ng-hide-add.ng-hide,
body.public .contact-container.ng-hide-remove.ng-hide {
  top: -600px;
}
.info {
  position: absolute;
  top: 40%;
  z-index: 999;
  width: 100%;
  text-align: center;
}
.info h1.logo {
  height: 76px;
  position: relative;
  background-image: url("../img/logo.png");
  text-indent: -999em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.info span {
  width: 100%;
  display: block;
  font-style: italic;
  text-shadow: 1px 1px 0px #000;
  font-size: 20px;
  letter-spacing: 1px;
}
.home-links {
  position: absolute;
  z-index: 999;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.home-links ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
  max-width: 960px;
  min-width: 320px;
  margin: 0;
}
.home-links ul li {
  width: 30%;
  display: inline-block;
  border: 2px solid #fff;
}
.home-links ul li.second {
  border-left: 0 none;
  border-right: 0 none;
}
.home-links ul li a {
  display: inline-block;
  width: 100%;
  background: #000;
  font-size: 24px;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px 0;
}
.home-links ul li a:hover {
  color: #eee;
  background: #333;
}
.about-content {
  position: absolute;
  top: 200px;
  z-index: 999;
  width: 100%;
}
.about-content p {
  width: 400px;
  margin: 15px auto;
  text-align: justify;
}
.about-content .social {
  width: 400px;
  margin: 0 auto;
}
.about-content .social ul {
  list-style-type: none;
  display: inline;
  padding: 0;
}
.about-content .social ul li {
  display: inline-block;
  text-align: right;
}
.about-content .social ul li a {
  color: #000;
  background: #fff;
  color: #000;
  border-radius: 20px;
  width: 24px;
  display: block;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-left: 8px;
  font-size: 12px;
}
.about-content .social ul .email {
  float: left;
}
.about-content .social ul .email a {
  color: #fff;
  background: none;
  border-radius: none;
  width: inherit;
  display: block;
  height: inherit;
  text-decoration: underline;
  margin-left: 0;
  margin-right: 237px;
  font-size: 14px;
}
.detail-content {
  position: absolute;
  top: 200px;
  z-index: 999;
  width: 400px;
  right: 100px;
}
.detail-content .detail-content-box header {
  background: rgba(255,255,255,0.7);
  color: #000;
  width: 100%;
  float: left;
  padding: 15px 15px;
  cursor: pointer;
}
.detail-content .detail-content-box header h3 {
  float: left;
  font-size: 18px;
  margin: 0;
}
.detail-content .detail-content-box header h4 {
  float: left;
  margin: 0;
}
.detail-content .detail-content-box header i.info {
  position: absolute;
  right: -24px;
  top: 0;
  width: 50px;
  height: 49px;
  border-radius: 40px;
  line-height: 49px;
  background: #000;
  color: #fff;
  font-size: 22px;
}
.detail-content .detail-content-box .detail-content-text {
  background: rgba(0,0,0,0.8);
  padding: 20px 15px;
  float: left;
  width: 100%;
}
.detail-content .detail-content-box .detail-content-text p {
  line-height: 20px;
  margin-bottom: 15px;
}
.detail-content .detail-content-box .detail-content-text q {
  margin-bottom: 15px;
  display: block;
}
.detail-content .detail-content-box .detail-content-text.ng-hide-add,
.detail-content .detail-content-box .detail-content-text.ng-hide-remove {
  transition: 0.5s linear all;
  -webkit-transition: 0.5s linear all;
  display: block !important;
}
.detail-content .detail-content-box .detail-content-text.ng-hide {
  opacity: 0;
}
.work-content {
  z-index: 999;
  width: 1455px;
  margin: 65px auto;
}
.work-content .work-block {
  width: 425px;
  height: 240px;
  background: #000;
  float: left;
  display: inline-block;
  margin: 27px;
  position: relative;
}
.work-content .work-block figcaption {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 405px;
  background: #000;
  color: #fff;
  padding: 10px;
}
.work-content .work-block figcaption h4 {
  margin: 0;
  font-size: 12px;
}
.flexslider {
  margin: 0;
  border: none;
}
.flexslider .slides {
  margin: 0;
  padding: 0;
}
.flexslider .slides img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.flexslider .flex-control-nav {
  top: 10px;
  z-index: 900;
  left: 7px;
  width: auto;
}
.flexslider .flex-control-nav li {
  margin-bottom: 10px;
  display: block;
}
.flexslider .flex-control-nav li a {
  border: 1px solid #fff;
  box-shadow: none;
  background: rgba(0,0,0,0);
  width: 12px;
  height: 12px;
}
.flexslider .flex-control-nav li .flex-active {
  background: #fff;
}
button {
  background: #000;
  border: none;
  color: #fff;
}
.mobile-nav-toggle {
  display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 479px) and (orientation: portrait) {
  .mobile-nav-toggle {
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    display: block;
    float: right;
    cursor: pointer;
    margin: 10px 15px 0 0;
  }
  .mobile-nav-toggle div {
    width: 100%;
    display: block;
    margin-bottom: 3px;
    border-top: 3px solid #fff;
    float: left;
  }
  .work-content {
    width: 100%;
    margin: 20px 0;
  }
  .work-content .work-block {
    clear: left;
    margin: 0 0 20px 0;
    width: 100%;
    height: 200px;
  }
  .work-content .work-block img {
    max-width: 100%;
  }
  .work-content .work-block .figcaption-wrap h4 {
    font-size: 10px;
  }
  body.public.about,
  body.public.home {
    background: none;
  }
  body.public {
    background: none;
  }
  body.public .navigation .nav-wrapper-inner {
    width: 100%;
    display: block;
    background: #000;
    overflow: auto;
  }
  body.public .navigation .nav-wrapper-inner nav {
    width: 45%;
    float: left;
    padding: 10px 0;
  }
  body.public .navigation .nav-wrapper-inner nav ul li {
    width: 100%;
    display: block;
  }
  body.public .navigation .nav-wrapper-inner nav.social {
    float: right;
    width: 100px;
  }
  body.public .navigation .nav-wrapper-inner nav.social ul li {
    float: right;
    width: auto;
  }
  body.public .navigation .nav-wrapper-inner.ng-hide-add,
  body.public .navigation .nav-wrapper-inner.ng-hide-remove {
    transition: 0.3s linear all;
    -webkit-transition: 0.3s linear all;
    display: block !important;
  }
  body.public .navigation .nav-wrapper-inner.ng-hide {
    opacity: 0;
  }
  body.public .contact-container {
    top: 35px;
    width: 310px;
    height: 440px;
  }
  body.public .contact-container input {
    width: 280px;
  }
  body.public .contact-container textarea {
    width: 280px;
  }
  body.public .contact-container a.close-form {
    color: #999;
    float: right;
    font-weight: bold;
    margin: 15px 20px 0 0;
  }
  .info {
    position: absolute;
    top: 40%;
    width: 93%;
    padding: 0 10px;
    text-align: center;
  }
  .home .container {
    max-height: 320px;
    height: 320px;
    background: url("../img/web-limon-01.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .about .container {
    max-height: 120px;
    height: 120px;
    background: url("../img/image_about_mobile.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .flexslider .flex-control-nav,
  .flexslider .flex-direction-nav {
    display: none;
  }
  .detail-content {
    top: 247px;
    width: 100%;
    right: auto;
  }
  .detail-content .detail-content-box header {
    width: auto;
    float: none;
    padding: 0;
  }
  .detail-content .detail-content-box header h3 {
    text-indent: 10px;
    background: #000;
    color: #fff;
    width: 100%;
    padding: 5px 0;
  }
  .detail-content .detail-content-box header h4,
  .detail-content .detail-content-box header i {
    display: none;
  }
  .detail-content .detail-content-box .detail-content-text {
    padding: 0;
    background: #fff;
    width: 90%;
    color: #000;
    padding: 0 0 0 10px;
  }
  .about-content {
    top: 30%;
    width: 310px;
    padding: 5px;
    background: #fff;
    color: #000;
  }
  .about-content p {
    width: auto;
    margin: 0;
    text-align: center;
  }
  .about-content .social {
    width: 100px;
  }
  .about-content .social ul li a {
    color: #fff;
    background: #000;
  }
  .about-content .social ul .email {
    width: 100%;
    text-align: center;
  }
  .about-content .social ul .email a {
    color: #000;
    margin: 0;
  }
  .home-links {
    width: auto;
  }
  .home-links ul li {
    width: 99%;
    text-align: center;
  }
  .home-links ul li.second {
    border: 2px solid #fff;
  }
  .home-links ul li.first {
    border-bottom: 0 none;
  }
  .home-links ul li.third {
    border-top: 0 none;
  }
}
