body.admin
  padding-top: 50px;
.btn-danger
  margin-left:10px;
.form-group.images
  float:left;
  width:100%;
  label
    float:left;
    width:100%;
  ul
    padding:0;
    margin:10px 0 0 0 ;
    list-type:none;
  li.ng-scope
    float: left;
    padding: 5px;
    background: #eee;
    list-style: none;
    position: relative;
    width: 110px;
    height: 110px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
    a
      position: absolute;
      width: 20px;
      height: 20px;
      background: red;
      display: block;
      bottom: 5px;
      right: 5px;
      font-weight: bold;
      color: #fff;
      text-align: center;
    .img-order
      position:absolute;
      width:20px;
      height:20px;
      right:28px;
      bottom:5px;
      color:#555;
      text-align:center;
      background:#eee;
#taTextElement
  margin: 10px 0px 30px;
  min-height: 300px;
  height: auto;
