body {
  font-family: 'Asap', sans-serif;
}
body.public {
  background: #eee;
  color: #fff;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
body.public a {
  color: #fff;
  text-decoration: none;
}
body.public a:hover{
  color:#ddd;
}

body.public .navigation {
  width: 100%;
  height: auto;
  background: #000;
  float: left;
  padding: 10px 0;
  position: fixed;
  z-index: 9999;
  top: 0;
}
body.public .navigation h1 {
  float: left;
  width: 40%;
  margin: 0;
  text-indent: 20px;
  font-size: 24px;
  text-transform: uppercase;
}
body.public .navigation nav {
  float: right;
  margin-top: 4px;
}
body.public .navigation nav ul {
  padding: 0;
  display: inline;
}
body.public .navigation nav ul li {
  display: inline-block;
  float: left;
  margin: 0 13px;
}
body.public .navigation .social {
  margin-right: 10px;
  margin-top: 0;
}
body.public .navigation .social ul li {
  margin: 0 4px;
}
body.public .navigation .social ul li a {
  color: #000;
  background: #fff;
  color: #000;
  border-radius: 20px;
  width: 27px;
  display: block;
  height: 27px;
  line-height: 27px;
  text-align: center;
  margin-left: 8px;
}
body.public .navigation .social .behance {
  text-transform: capitalize;
  text-indent: 2px;
}
.info {
  position: absolute;
  top: 40%;
  z-index: 999;
  width: 100%;
  text-align: center;
}
.info h1.logo {
  height: 76px;
  position: relative;
  background: url("../img/logo.png") 50% 50% no-repeat;
  text-indent: -999em;
}
.info span {
  width: 100%;
  display: block;
  font-style: italic;
  text-shadow: 1px 1px 0px #000;
  font-size: 20px;
  letter-spacing: 1px;
}
.home-links {
  position: absolute;
  z-index: 999;
  bottom: 30px;
  width: 100%;
  text-align: center;
}
.home-links ul {
  list-style-type: none;
  padding: 0;
  display: inline;
}
.home-links ul li {
  display: inline-block;
}
.home-links ul li a {
  font-size: 24px;
  letter-spacing: 1px;
  padding: 10px 15px;
  border: 1px solid #fff;
  margin: 0 5px;
}
.about-content {
  position: absolute;
  top: 200px;
  z-index: 999;
  width: 100%;
}
.about-content p {
  width: 400px;
  margin: 15px auto;
  text-align: justify;
}
.about-content .social {
  width: 400px;
  margin: 0 auto;
}
.about-content .social ul {
  list-style-type: none;
  display: inline;
  padding: 0;
}
.about-content .social ul li {
  display: inline-block;
  text-align: right;
}
.about-content .social ul li a {
  color: #000;
  background: #fff;
  color: #000;
  border-radius: 20px;
  width: 24px;
  display: block;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-left: 8px;
  font-size: 12px;
}
.about-content .social ul .email {
  float: left;
}
.about-content .social ul .email a {
  color: #fff;
  background: none;
  border-radius: none;
  width: inherit;
  display: block;
  height: inherit;
  text-decoration: underline;
  margin-left: 0;
  margin-right: 237px;
  font-size: 14px;
}
.detail-content {
  position: absolute;
  top: 200px;
  z-index: 999;
  width: 400px;
  right: 100px;
}
.detail-content .detail-content-box header {
  background: rgba(255,255,255,0.7);
  color: #000;
  width: 100%;
  float: left;
  padding: 15px 15px;
}
.detail-content .detail-content-box header h3 {
  float: left;
  font-size: 18px;
  margin: 0;
}
.detail-content .detail-content-box header h4 {
  float: left;
  margin: 0;
}
.detail-content .detail-content-box header i.info {
  position: absolute;
  right: -24px;
  top: 0;
  width: 50px;
  height: 49px;
  border-radius: 40px;
  line-height: 49px;
  background: #000;
  color: #fff;
  font-size: 22px;
}
.detail-content .detail-content-box .detail-content-text {
  background: rgba(0,0,0,0.8);
  padding: 20px 15px;
  float: left;
}
.detail-content .detail-content-box .detail-content-text p {
  margin-bottom: 15px;
}
.detail-content .detail-content-box .detail-content-text q {
  margin-bottom: 15px;
  display: block;
}
.work-content {
  z-index: 999;
  width: 1455px;
  margin: 65px auto;
}
.work-content .work-block {
  width: 425px;
  height: 240px;
  background: #000;
  float: left;
  display: inline-block;
  margin: 27px;
  position: relative;
}
.work-content .work-block figcaption {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background: #000;
  color: #fff;
  padding: 10px;
}
.work-content .work-block figcaption h4 {
  margin: 0;
  font-size: 12px;
}
.contact-container {
  position: absolute;
  right: 0;
  top: 46px;
  width: 290px;
  height: 372px;
  z-index: 1000;
  background: #fff;
  padding-left: 20px;
  opacity: 1;
}
.contact-container p {
  color: #9c9f9e;
}
.contact-container input {
  width: 250px;
  margin-bottom: 18px;
  background: #e2e4e3;
  border: none;
  padding: 8px;
}
.contact-container textarea {
  width: 250px;
  margin-bottom: 18px;
  background: #e2e4e3;
  border: none;
  padding: 8px;
  height: 135px;
  resize: none;
}
.contact-container.ng-hide-add,
.contact-container.ng-hide-remove {
  transition: 0.5s linear all;
  -webkit-transition: 0.5s linear all;
  display: block !important;
}
.contact-container.ng-hide {
  opacity: 0;
  top: -600px;
}
.flexslider {
  margin: 0;
  border: none;
}
.flexslider .slides {
  margin: 0;
  padding: 0;
}
.flexslider .slides img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.flexslider .flex-control-nav {
  top: 560px;
  z-index: 900;
}
.flexslider .flex-control-nav li a {
  border: 1px solid #fff;
  box-shadow: none;
  background: rgba(0,0,0,0);
  width: 12px;
  height: 12px;
}
.flexslider .flex-control-nav li .flex-active {
  background: #fff;
}
