doctype
html(lang='en')
  head
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/main.css")
  body(ng-app="app")
    div.navbar.navbar-fixed-top.navbar-inverse
      nav.collapse.navbar-collapse.bs-navbar-collapse(role="navigation")
        ul.nav.navbar-nav
          li
            a.brand(href="/admin") Claudio Limon Admin
          li
            a(href="/admin/users") Users
          li
            a(href="/admin/works") Work
          li
            a(href="/admin/inquiries") Inquiries
          li
            a(href="/admin/settings") Settings
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown") #{ username }
              b.caret
            ul.dropdown-menu
              li
                a(href="/admin/signout") Signout
    section.content
      section.container
        block main-content
  include scripts
