script(src="/vendor/jquery/dist/jquery.js")
script(src="/vendor/angular/angular.js")
script(src="/vendor/angular-resource/angular-resource.js")
script(src="/vendor/angular-route/angular-route.js")
script(src="/vendor/toastr/toastr.js")
script(src="/vendor/textAngular/textAngular.js")
script(src="/vendor/textAngular/textAngular-sanitize.js")
script(src="/app/app.js")
script(src="/app/common/clNotifier.js")
script(src="/app/admin/account/clIdentity.js")
script(src="/app/admin/account/clLoginFormCtrl.js")
script(src="/app/admin/account/clAuth.js")
script(src="/app/admin/users/clUser.js")

