h2 Edit Work
form(name="editWorkForm")
  .form-group
    label(for='title') Title
    input#title.form-control(type='text', name="title", ng-model="title", placeholder="Work Title")

  .form-group
    label(for='subtitle') Subtitle
    input#subtitle.form-control(type='text', name="subtitle", ng-model="subtitle", placeholder="SubTitle")

  .form-group
    span Public ?
      input(type="checkbox", name="isPublic", ng-model="isPublic")

  .form-group
    span Featured ?
      input(type="checkbox", name="isFeatured", ng-model="isFeatured")

  .form-group
    label(for='description') Description
    textarea#description.form-control(type='text', name="description", ng-model="description", placeholder="Description")

  .form-group.images
    label(for='images') Images
    button.btn.btn-primary.btn-large(ng-click="pickPhotos()") Select photos
    ul
      li(ng-repeat="image in images")
        img(ng-src="{{image.url}}/convert?w=100&amp;h=100&amp;fit=scale", alt="{{image.filename}}")
        input(type="hidden", name="images[{{$index}}][image_filename]", value="{{image.filename}}")
        input(type="hidden", name="images[{{$index}}][image_url]", value="{{image.url}}")
        input(type="text", name="images[{{$index}}][order]", ng-model="image.order" class="img-order")
        a(href="#", ng-click="removeImage(image)") -

  .form-group
    label(for='categories') Categories
    input#categories.form-control(type='text', name="categories", placeholder='Categories', ng-model="categories")

  .form-group
      button.btn.btn-primary(ng-click="updateWork()", ng-disabled="editWorkForm.$invalid") Update Work
