.row
  .col-md-6
    h2  Users
    table.table.table-bordered.table-striped.pull-left
      thead
        tr  
          th First Name
          th Last Name
          th Username
          th Id
          th Edit / Delete
        tr(ng-repeat="user in users")
          td {{user.firstName}}
          td {{user.lastName}}
          td {{user.userName}}
          td(ng-model="userId") {{user._id}}
          td
            a(href="/admin/users/") Edit 
            span  or 
            a.delete-user(ng-click="deleteUser()" ) Delete
     a.btn.btn-primary(href="/admin/users/create") Create User