.row
  .col-md-12
    h2  Users
    table.table.table-bordered.table-striped.pull-left
      thead
        tr  
          th First Name
          th Last Name
          th Username
          th Id
          th Edit
        tr(ng-repeat="user in users")
          td {{user.firstName}}
          td {{user.lastName}}
          td {{user.userName}}
          td(ng-model="userId") {{user._id}}
          td
            a(href="/admin/users/edit/{{user._id}}") Edit
     a.btn.btn-primary(href="/admin/users/create") Create User